.advantages {
  padding-top: 120px;
  padding-bottom: 60px;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.advantages__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 30px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px;
  }
}

.advantages__card {
  padding: 40px 45px 35px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  position: relative;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color-deep-sky-blue;
  }

  @include hover-focus {
    background-color: $color-deep-sky-blue;

    svg {
      fill: $color-alice-blue;
    }

    h3,
    p {
      color: $color-alice-blue;
    }
  }

  @include vp-1023 {
    padding: 40px 30px 35px 45px;
    min-height: 360px;
  }

  @include vp-767 {
    padding: 29px 30px 35px;
    min-height: 336px;
  }
}

.advantages__card svg {
  margin-bottom: 16px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
  }
}

.advantages__card h3 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 11px;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    line-height: 30px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
  }
}

.advantages__card p {
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}
