.button {
  display: inline-block;
  padding: 15px 20px;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  color: #f2f5f6;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background: none;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.5;
  }
}
